*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: aliceblue;
}
.logo{
  width: 50px;
  cursor: pointer;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav ul{
  display: flex;
  gap: 2em;
}
nav ul li{
  list-style-type: none;
  cursor: pointer;
}
button{
  padding: 10px 20px;
  background-color: green;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}